<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><a href="/">Home </a>| POSTS</h1>
   
    <hr STYLE="background-color:#000000; height:10px; width:100%;">
        <h1>{{ post.title}}</h1>  
        <h2>---- Author : - {{ post.name}} ------</h2>
        <div>
            <ul>
                <li><a href="{% url 'update-post' post.id %}">Edit</a></li>
                <li><a href="{% url 'delete-post' post.id %}">Delete</a></li>
            </ul>
            
        </div>

        <hr>
        <div>
            {{ post.content }}
        </div>
    </div>
</body>
</html>   